body{
  font-family: Helvetica;
  text-align: center;
}

.header,
.new-york{
  background-image: url("../images/flatiron.png");
  background-position: center;
  background-repeat: no-repeat;

}

.header h1,
.header a{
  color: white;
}

h1{
  font-weight: bold;
  font-size: 70px;
}

.header a{
  font-size: 18px;
}

.body p{
  font-size: 14px;
}

h2{
  font-weight: bold;
  font-size: 32px;
}

h3{
  font-weight: bold;
  font-size: 23px;
}


.design-ny{
  color: white;
}

.footer-nav{
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}

.footer-nav a{
  color: white;
}
