body{
  font-family: Helvetica;
  text-align: center;
}

.header,
.new-york{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.header h1,
.header a{
  color: white;
}

h1{
  font-weight: bold;
  font-size: 70px;
}

.header p{
  font-size: 18px;
}

.body p{
  font-size: 14px;
}

h2{
  font-weight: bold;
  font-size: 32px;
}

h3{
  font-weight: bold;
  font-size: 23px;
}


.design-ny{
  color: white;
}

.footer-nav{
  text-align: left;
  background-color: dimgray;
}

.footer-nav p{
  color: white;
  font-size: 11px
}
